  body {
    height: 980px;
    margin: -8px;
    background-color: black;
  }
  h1 {
      top: 30px;
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
      color: whitesmoke;
  }
  section {
    position: relative;
    margin-top: 50px;
    margin-left: 20%;
    margin-right: 20%;
  }
  li{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 15px;
    color: whitesmoke;
    font-family: monospace;
    font-size: 20px;
  }
  li button{
    position: relative;
    float: right; 
    margin-right: 5px;
    border-radius: 5px;
  }
  .rmButton{
    background:whitesmoke;
    border-color: rgb(163, 30, 30);
    font-weight: 600;
    color: rgb(163, 30, 30);
  }
  .rmButton:hover {
    background: rgb(255, 89, 89);
    transition: 0.25s;
  }
  .dnButton{
    background:whitesmoke;
    border-color: seagreen;
    font-weight: 600;
    color: seagreen;
  } 
  .dnButton:hover{
    background:#4dff9a;
    transition:0.25s;
  }
  input{
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 2%;
    width: 47%;
    height: 25x;
    background-color: whitesmoke;
    font-size: 20px;
    border-radius: 10px;
  }
  .add{
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 20px;
    margin-bottom:10px;
    background:whitesmoke;
    background: rgb(41, 41, 61);
    border-color: rgb(40, 103, 238);
    font-weight: 600;
    color: rgb(40, 103, 238);
  }
  span{
    color:seagreen;
    font-weight: 700;
  }
  span:hover{
  color: rgb(163, 30, 30);
  transition: 0.25s;
  }
  .right-elements{
    display: inline;
    margin-right: 25px;
  }