<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>To do list</title>
</head>
<body>
    <h1> To do List </h1>
  <section>
      <ul>
        <li *ngFor="let todo of todos">
          {{todo.title}} 
          <div class="right-elements">
            <button class="dnButton" (click)="markAsDone(todo)">✔</button>
            <button class="rmButton" (click)="rmTodo(todo)">&#x2717;</button>
           <span *ngIf="todo.done"> OK </span>
          </div>
        </li>
      </ul>
      <form [formGroup]="form">
        <input type="text" formControlName="title">
        <button class="add" (click)="addTodo()">Add to list</button>
      </form>
  </section>
</body>
</html>