<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>To do list</title>
</head>
<body>
    <h1> To do List </h1>
  <section>
      <ul>
        <li *ngFor="let todo of todos">
          <span *ngIf="todo.done" (click)="markAsNotDone(todo)">✔</span>
          {{todo.title}} 
          <div class="right-elements">
            <button class="rmButton" (click)="rmTodo(todo)">DELETE</button>
            <button class="dnButton" (click)="markAsDone(todo)">DONE</button>
          </div>
        </li>
      </ul>
      <form [formGroup]="form">
        <input type="text" formControlName="title">
        <button class="add" (click)="addTodo()">Add To List</button>
      </form>
  </section>
</body>
</html>